---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | Selectivitat AI` : "Selectivitat AI"}</title>
  </head>
  <body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen">
    <Header />

    <!-- Contenido de la página -->
    <main class="flex-1 pt-20">
      <slot />
    </main>

    <Footer />
  </body>
</html>
